.login-style {
  height: 100vh;
  background-image: url(./images/B.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

h1 {
  color: rgb(227, 168, 20);
  font-weight: bolder;
  
}

.symbols {
  background: #fff;
  padding: 5px;
  border-radius: 100px;
}

h5 {
  color: rgb(227, 178, 53);
}

.form-style {
  background: #fff;
  padding: 15px;
}

