.login-style {
  height: 120vh;
  background-image: url(./images/B.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* h2 {
  color: var(--white);
  font-size: 40px;
  text-align: center;
} */

h1 {
  color: var(--gold-ish);
  font-weight: bolder;
  font-size: 30px;

}

.symbols {
  background: rgb(236, 236, 236);
  padding: 5px;
  border-radius: 70px;
  font-size: 18px;
}

.form-style {
  background: var(--white);
  padding: 15px;

}

h5 {
  color: var(--gold-ish);
  font-size: 18px;
}


.form-control {
  font-size: 14px;

}

.btn-btn {
  width: 500px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  background: var(--gold-ish);
  border: none;
  padding: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 5px;

  
}

.btn-btn:hover {
  color: var(--white);
  background: var(gold-flat);
  transition: 0.5s;
}

.sign-up-link {
  color: var(--red-ish);
  text-align: center;
  font-weight: 600;
}

.text-danger {
  font-size: 12px;
  
}

.form-container {
  max-width: 500px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.b-ground {
  background: rgb(229, 236, 236);
}

@media screen and (max-width: 768px) {
  .btn-btn {
    padding: 4px;
    font-size: 15px;
  }
}

@media screen and (max-width: 575px) {
  .form-style {
    margin: 40px;
  }

  .btn-btn {
    padding: 4px;
    font-size: 15px;
  }
}

