:root {
  --white: #fff;
  --gold-ish: rgb(227, 168, 20);
  --gold-flat: rgb(197, 150, 30);
  --red-ish: rgb(219, 100, 100);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;

  
}
